/* common shared styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: rgba(229, 84, 115, 1);
}

.button-primary {
    margin-top: 32px;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
}

/* header section start  */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);

}

.banner-content {
    /* width:800px; */
    width: 100%;
    padding-left: 10%;
    padding-top: 100px;

}

.banner-title {
    width: 800px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
}

.banner-flower {
    padding-top: 100px;
    padding-right: 200px;
}

/* main section start */

/* featured flower section start */

.featured-flower-section {

    text-align: center;
    margin-top: 178px;

}

.flower-section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.flower-section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 18px;
}

.image-collection {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-top: 50px;
}

.image {

    position: relative;
    display: flex;
    gap: 24px;
}

.bg {
    width: 464px;
    height: 538px;
    /* border: 5px solid black; */

    position: relative;

}

.top {

    position: absolute;

    margin-left: -390px;
    margin-top: 110px;

}

#rec-4-flower {
    margin-right: 150px;
}

#rec-5-flower {
    padding-top: 10px;
    /* margin-bottom: -20px; */
}

.image-name {

    margin-left: 0px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    padding-top: 15px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* featured flower section end */

/* package section start */
.package-section {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    background: #F1F3F4;
    margin-top: 120px;
    height: 1200px;

}

.mother-package {
    display: flex;
    width: 100%;
    height: 500px;
    padding-bottom: 100px;
}

.mother-package-content {
    width: 900px;
    margin-left: 200px;
    padding-top: 200px;
    margin-left: 100px;
}

.father-package {
    display: flex;
    width: 100%;
    height: 500px;
    padding-bottom: 100px;
}

.father-package-content {
    width: 900px;
    margin-left: 200px;
    padding-top: 200px;
}

#packag1-img {
    padding-top: 80px;
}

.package-flower-img {
    width: 500px;
    height: 500px;
    padding-left: 100px;
}

.package-title {
    color: #272727;
    /* text-align: center; */
    font-family: Lato;
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: 800;

}








/* service section start  */

.service-section {
    width: 80%;
    height: 200px;
    margin-left: 10%;

    left: auto;
    right: auto;
    display: flex;
    justify-content: center;


    border-radius: 5px;
    background: rgba(39, 39, 39, 0.05);
    gap: 250px;
    margin-top: 200px;
    padding-top: 100px;

}

.service-icon {

    margin-left: 30%;
}

.service-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 20px;

    margin-left: 10px;
}

/* service section end  */

/* sale section start */

.sale-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.10);
    margin-top: 128px;
}

.sale-section-content {
    /* width:800px; */
    width: 100%;
    margin-left: 20%;

    padding-top: 100px;

}

.sale-section-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.sale-section-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
}

.banner-flower {
    margin-right: 20%;
    padding-top: 100px;
    padding-right: 200px;
}

.text-gap {

    margin-left: 15%;
}

.sign-up {
    margin-left: 30%;
}

/* sale section end */



/* instagram section start*/
.instagram-section {
    text-align: center;
    margin-top: 128px;
}

.instagram-section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.instagram-section-description {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.insta-image {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 48px;
}

/* subscribe section start */

.subscribe-section {

    width: 1440px;
    height: 400px;
    margin-left: 12%;
    border-radius: 5px;
    background-image: url('images/Rectangle-9.png');
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 128px;
    padding-top: 20px;

}

.subscribe-details {

    margin-top: 100px;
    /* border: 2px solid green;
    */
}

.subscribe-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    /* border: 2px solid red; */
}

.subscribe-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
}

.email-input {
    padding-left: 20px;
    border: 0;
    border-radius: 5px;
    background: #FFF;
    width: 700px;
    height: 64px;
    font-size: 16px;
}

#subscribe-btn {
    margin-left: 16px;
}

/* main section end */


/* footer section start */


.footer-section {
    text-align: center;
    margin-top: 128px;

    height: 400px;
    background: #111010;
    padding-top: 128px;

}

.footer-section-title {
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-section-description {

    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.attherate {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;

    font-weight: 400;
    margin-top: 20px;

}

/* footer section end */